<h1>KISS Generators Bid Sheet System</h1>


<center> <%= image_tag("kiss1.png", :alt => "logo") %></center>

<center>
  <h3>Reports</h3>
  <h5>
    <%= link_to "Complete Jobs by Month", complete_jobs_by_month_path %></br>
    <%= link_to "Sales by Item Category", item_sales_by_category_path %>
  </h5>
</center>