<%= form_for(@bid_sheet) do |f| %>
  <% if @bid_sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bid_sheet.errors.count, "error") %> prohibited this bid_sheet from being saved:</h2>

      <ul>
      <% @bid_sheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.number_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.number_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :jobNumber %><br>
    <%= f.number_field :jobNumber %>
  </div>
  <div class="field">
    <%= f.label :generator_id %><br>
    <%= f.number_field :generator_id %>
  </div>
  <div class="field">
    <%= f.label :transferSwitch_id %><br>
    <%= f.number_field :transferSwitch_id %>
  </div>
  <div class="field">
    <%= f.label :concreteSlab_id %><br>
    <%= f.number_field :concreteSlab_id %>
  </div>
  <div class="field">
    <%= f.label :laborCost %><br>
    <%= f.text_field :laborCost %>
  </div>
  <div class="field">
    <%= f.label :tax %><br>
    <%= f.text_field :tax %>
  </div>
  <div class="field">
    <%= f.label :createDate %><br>
    <%= f.date_select :createDate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
