<h1>Listing bid_sheets</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Customer</th>
      <th>Jobnumber</th>
      <th>Generator</th>
      <th>Transferswitch</th>
      <th>Concreteslab</th>
      <th>Laborcost</th>
      <th>Tax</th>
      <th>Createdate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bid_sheets.each do |bid_sheet| %>
      <tr>
        <td><%= bid_sheet.employee_id %></td>
        <td><%= bid_sheet.customer_id %></td>
        <td><%= bid_sheet.jobNumber %></td>
        <td><%= bid_sheet.generator_id %></td>
        <td><%= bid_sheet.transferSwitch_id %></td>
        <td><%= bid_sheet.concreteSlab_id %></td>
        <td><%= bid_sheet.laborCost %></td>
        <td><%= bid_sheet.tax %></td>
        <td><%= bid_sheet.createDate %></td>
        <td><%= link_to 'Show', bid_sheet %></td>
        <td><%= link_to 'Edit', edit_bid_sheet_path(bid_sheet) %></td>
        <td><%= link_to 'Destroy', bid_sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bid sheet', new_bid_sheet_path %>
