<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @bid_sheet.employee_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @bid_sheet.customer_id %>
</p>

<p>
  <strong>Jobnumber:</strong>
  <%= @bid_sheet.jobNumber %>
</p>

<p>
  <strong>Generator:</strong>
  <%= @bid_sheet.generator_id %>
</p>

<p>
  <strong>Transferswitch:</strong>
  <%= @bid_sheet.transferSwitch_id %>
</p>

<p>
  <strong>Concreteslab:</strong>
  <%= @bid_sheet.concreteSlab_id %>
</p>

<p>
  <strong>Laborcost:</strong>
  <%= @bid_sheet.laborCost %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @bid_sheet.tax %>
</p>

<p>
  <strong>Createdate:</strong>
  <%= @bid_sheet.createDate %>
</p>

<%= link_to 'Edit', edit_bid_sheet_path(@bid_sheet) %> |
<%= link_to 'Back', bid_sheets_path %>
