<%= form_for(@transfer_switch) do |f| %>
  <% if @transfer_switch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transfer_switch.errors.count, "error") %> prohibited this transfer_switch from being saved:</h2>

      <ul>
      <% @transfer_switch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :productDescription %><br>
    <%= f.text_field :productDescription %>
  </div>
  <div class="field">
    <%= f.label :modelNumber %><br>
    <%= f.text_field :modelNumber %>
  </div>
  <div class="field">
    <%= f.label :dealer %><br>
    <%= f.text_field :dealer %>
  </div>
  <div class="field">
    <%= f.label :msrp %><br>
    <%= f.text_field :msrp %>
  </div>
  <div class="field">
    <%= f.label :map %><br>
    <%= f.text_field :map %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
