<h1>Listing transfer_switches</h1>

<table>
  <thead>
    <tr>
      <th>Productdescription</th>
      <th>Modelnumber</th>
      <th>Dealer</th>
      <th>Msrp</th>
      <th>Map</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transfer_switches.each do |transfer_switch| %>
      <tr>
        <td><%= transfer_switch.productDescription %></td>
        <td><%= transfer_switch.modelNumber %></td>
        <td><%= transfer_switch.dealer %></td>
        <td><%= transfer_switch.msrp %></td>
        <td><%= transfer_switch.map %></td>
        <td><%= link_to 'Show', transfer_switch %></td>
        <td><%= link_to 'Edit', edit_transfer_switch_path(transfer_switch) %></td>
        <td><%= link_to 'Destroy', transfer_switch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transfer switch', new_transfer_switch_path %>
