<%= form_for(@concrete_slab) do |f| %>
  <% if @concrete_slab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@concrete_slab.errors.count, "error") %> prohibited this concrete_slab from being saved:</h2>

      <ul>
      <% @concrete_slab.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Name</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" <%= f.text_field :slabName %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Price $</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" <%= f.text_field :slabPrice %>
          </div>
        </div>
      </div>
    </div>
  <div class="actions">
   <p class="center"><%= f.submit %></p>
  </div>
<% end %>
