<h1>Listing Concrete Slabs</h1>

<table class="center">
  <thead>
    <tr>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @concrete_slabs.each do |concrete_slab| %>
      <tr>
        <td><%= concrete_slab.slabName %></td>
        <td><%= number_to_currency(concrete_slab.slabPrice) %></td>
        <td><%= link_to 'Edit', edit_concrete_slab_path(concrete_slab) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p class="center"><%= link_to 'New Concrete slab', new_concrete_slab_path %></p>
