<div class="center">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @concrete_slab.slabName %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@concrete_slab.slabPrice) %>
</p>

<%= link_to 'Edit', edit_concrete_slab_path(@concrete_slab) %> |
<%= link_to 'Back', concrete_slabs_path %>

</div>