<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">First Name</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" <%= f.text_field :firstName %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Last Name</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" <%= f.text_field :lastName %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Address</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" <%= f.text_field :streetAddress %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">MAddress 2</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" <%= f.text_field :streetAddress2 %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">City</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" <%= f.text_field :city %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">State</label>
          </div>
          <div class="small-9 columns">
            <%= f.collection_select(:state_id, State.all, :id, :name) %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">ZIP Code</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" <%= f.text_field :zipCode %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Phone</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" <%= f.text_field :phone %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Phone 2</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" <%= f.text_field :phone2 %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Email</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" <%= f.text_field :email %>
          </div>
        </div>
      </div>
    </div>

<div class="center">
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
