<h1>Listing Customers</h1>

<table class="center">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>ZIP Code</th>
      <th>Phone</th>
      <th>Phone 2</th>
      <th>Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.firstName %></td>
        <td><%= customer.lastName %></td>
        <td><%= customer.streetAddress %></td>
        <td><%= customer.streetAddress2 %></td>
        <td><%= customer.city %></td>
        <td><%= customer.state.abbreviation %></td>
        <td><%= customer.zipCode %></td>
        <td><%= number_to_phone(customer.phone) %></td>
        <td><%= number_to_phone(customer.phone2) %></td>
        <td><%= customer.email %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="center">
<%= link_to 'New Customer', new_customer_path %>
</div>