<div class="center">
  <p id="notice"><%= notice %></p>

  <strong>First Name:</strong>
  <%= @customer.firstName %>
  <br>
  <strong>Last Name:</strong>
  <%= @customer.lastName %>
  <br>
  <strong>Address 1:</strong>
  <%= @customer.streetAddress %>
  <br>
  <strong>Address 2:</strong>
  <%= @customer.streetAddress2 %>
  <br>
  <strong>City:</strong>
  <%= @customer.city %>
  <br>
  <strong>State:</strong>
  <%= @customer.state.abbreviation %>
  <br>
  <strong>ZIP:</strong>
  <%= @customer.zipCode %>
  <br>
  <strong>Phone:</strong>
  <%= number_to_phone(@customer.phone) %>
  <br>
  <strong>Phone 2:</strong>
  <%= number_to_phone(@customer.phone2) %>
  <br>
  <strong>Email:</strong>
  <%= @customer.email %>
  <br><br>

  <p>***Only jobs with a status of <strong>true</strong> is calculated in subtotal.***</p>

  <table class="center">
    <thead>
      <tr>
        <th>Job #</th>
        <th>Date</th>
        <th>Gen. Cost</th>
        <th>ATS Cost</th>
        <th>Acc. Cost</th>
        <th>Misc. Cost</th>
        <th>Labor Cost</th>
        <th>Total Cost</th>
        <th>% Markup</th>
        <th>Total Price</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% genCost = 0 %>
      <% atsCost = 0 %>
      <% accCost = 0 %>
      <% miscCost = 0 %>
      <% laborCost = 0 %>
      <% totalCost = 0 %>
      <% preTaxPrice = 0%>
      <% genAtsTax = 0 %>
      <% laborTax = 0 %>
      <% totalPrice = 0 %>
      <% @customer.bid_sheets.each do |bid_sheet| %>
        <% genCost = bid_sheet.generator.dealer %>
        <% atsCost = bid_sheet.transfer_switch.dealer %>
        <% accCost = Accessory.find(bid_sheet.accessory1).dealer + Accessory.find(bid_sheet.accessory2).dealer +
                Accessory.find(bid_sheet.accessory3).dealer + Accessory.find(bid_sheet.accessory4).dealer +
                Accessory.find(bid_sheet.accessory5).dealer + Accessory.find(bid_sheet.accessory6).dealer +
                Accessory.find(bid_sheet.accessory7).dealer + Accessory.find(bid_sheet.accessory8).dealer +
                Accessory.find(bid_sheet.accessory9).dealer + Accessory.find(bid_sheet.accessory10).dealer %>
        <% miscCost = bid_sheet.concrete_slab.slabPrice + bid_sheet.gasLineInstallation +
                (bid_sheet.gasFootage * bid_sheet.gasLength) + bid_sheet.gasRegulator +
                bid_sheet.gasMeterUpgrade + bid_sheet.electricalSupply + bid_sheet.craneRigging +
                bid_sheet.deliveryShipping + bid_sheet.permits + bid_sheet.batteries +
                bid_sheet.miscItemPrice1 + bid_sheet.miscItemPrice2 + bid_sheet.miscItemPrice3 %>
        <% laborCost = bid_sheet.laborCost %>
        <% totalCost = genCost + atsCost + accCost + miscCost + laborCost %>
        <% preTaxPrice = (genCost + atsCost + accCost + miscCost + laborCost) * (1 + (bid_sheet.markup / 100)) %>
        <% genAtsTax = (genCost + atsCost) * (bid_sheet.genAtsTax / 100) %>
        <% laborTax = laborCost * (bid_sheet.laborTax / 100) %>
        <% totalPrice = preTaxPrice + genAtsTax + laborTax %>
        <tr>
          <td><%= bid_sheet.jobNumber %></td>
          <td><%= bid_sheet.date %></td>
          <td><%= number_to_currency(genCost) %></td>
          <td><%= number_to_currency(atsCost) %></td>
          <td><%= number_to_currency(accCost) %></td>
          <td><%= number_to_currency(miscCost) %></td>
          <td><%= number_to_currency(laborCost) %></td>
          <td><%= number_to_currency(totalCost) %></td>
          <td><%= bid_sheet.markup %>%</td>
          <td><%= number_to_currency(totalPrice) %></td>
          <td><%=bid_sheet.completeStatus %></td>
        </tr>
      <% end %>
      <% completedJobs = 0 %>
      <% completedJobsCount = 0 %>
      <% gen = 0 %>
      <% ats = 0 %>
      <% acc = 0 %>
      <% misc = 0 %>
      <% labor = 0 %>
      <% genTotal = 0 %>
      <% atsTotal = 0 %>
      <% accTotal = 0 %>
      <% miscTotal = 0 %>
      <% laborTotal = 0 %>
      <% total = 0 %>
      <% markupSum = 0 %>
      <% avgMarkup = 0 %>
      <% preTaxPriceTotal = 0%>
      <% genAtsTaxTotal = 0 %>
      <% laborTaxTotal = 0 %>
      <% priceTotal = 0 %>
      <% Customer.all.each do |customer| %>
        <% completedJobs = customer.bid_sheets.where(:completeStatus => true) %>
        <% completedJobsCount = customer.bid_sheets.where(:completeStatus => true).count %>
        <% completedJobs.each do |job| %>
          <% gen = job.generator.dealer %>
          <% ats = job.transfer_switch.dealer %>
          <% acc = Accessory.find(job.accessory1).dealer + Accessory.find(job.accessory2).dealer +
                    Accessory.find(job.accessory3).dealer + Accessory.find(job.accessory4).dealer +
                    Accessory.find(job.accessory5).dealer + Accessory.find(job.accessory6).dealer +
                    Accessory.find(job.accessory7).dealer + Accessory.find(job.accessory8).dealer +
                    Accessory.find(job.accessory9).dealer + Accessory.find(job.accessory10).dealer %>
          <% misc = job.concrete_slab.slabPrice + job.gasLineInstallation +
                    (job.gasFootage * job.gasLength) + job.gasRegulator +
                    job.gasMeterUpgrade + job.electricalSupply + job.craneRigging +
                    job.deliveryShipping + job.permits + job.batteries +
                    job.miscItemPrice1 + job.miscItemPrice2 + job.miscItemPrice3 %>
          <% labor = job.laborCost %>
          <% genTotal += gen %>
          <% atsTotal += ats %>
          <% accTotal += acc %>
          <% miscTotal += misc %>
          <% laborTotal += labor %>
          <% total = genTotal + atsTotal + accTotal + miscTotal + laborTotal %>
          <% markupSum += job.markup %>
          <% avgMarkup = markupSum / completedJobsCount %>
          <% preTaxPriceTotal += (gen + ats + acc + misc + labor) * (1 + (job.markup / 100)) %>
          <% genAtsTaxTotal += (gen + ats) * (job.genAtsTax / 100) %>
          <% laborTaxTotal += labor * (job.laborTax / 100) %>
          <% priceTotal = preTaxPriceTotal + genAtsTaxTotal + laborTaxTotal %>
        <% end %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td>Subtotal</td>
        <td></td>
        <td><%= number_to_currency(genTotal) %></td>
        <td><%= number_to_currency(atsTotal) %></td>
        <td><%= number_to_currency(accTotal) %></td>
        <td><%= number_to_currency(miscTotal) %></td>
        <td><%= number_to_currency(laborTotal) %></td>
        <td><%= number_to_currency(total) %></td>
        <td>avg. <%= avgMarkup %>%</td>
        <td><%= number_to_currency(priceTotal) %></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
  <%= link_to 'Edit', edit_customer_path(@customer) %> |
  <%= link_to 'Back', customers_path %>
</div>