<!DOCTYPE html>
<html>
<head>

  <title>KISS Generators Bid Sheet System</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults, :cache => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "KISS Generators", welcome_index_path %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li class="divider"></li>
      <li><%= link_to "Employees", employees_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Customers", customers_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Bid Sheets", bid_sheets_path %></li>
      <li class="divider"></li>
    </ul>
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to "Generators", generators_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Transfer Switches", transfer_switches_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Accessories", accessories_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Concrete Slabs", concrete_slabs_path %></li>
    </ul>
  </section>
</nav>

<%= yield %>

</body>
</html>
