<%= form_for(@accessory_line) do |f| %>
  <% if @accessory_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accessory_line.errors.count, "error") %> prohibited this accessory_line from being saved:</h2>

      <ul>
      <% @accessory_line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bidSheet_id %><br>
    <%= f.number_field :bidSheet_id %>
  </div>
  <div class="field">
    <%= f.label :accessory_id %><br>
    <%= f.number_field :accessory_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
