<p id="notice"><%= notice %></p>

<p>
  <strong>Bidsheet:</strong>
  <%= @accessory_line.bidSheet_id %>
</p>

<p>
  <strong>Accessory:</strong>
  <%= @accessory_line.accessory_id %>
</p>

<%= link_to 'Edit', edit_accessory_line_path(@accessory_line) %> |
<%= link_to 'Back', accessory_lines_path %>
