<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">First Name</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" <%= f.text_field :firstName %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Last Name</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" <%= f.text_field :lastName %>
          </div>
        </div>
      </div>
    </div>
<div class="center">
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
