<h1>Listing concrete_slabs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @concrete_slabs.each do |concrete_slab| %>
      <tr>
        <td><%= concrete_slab.name %></td>
        <td><%= concrete_slab.price %></td>
        <td><%= link_to 'Show', concrete_slab %></td>
        <td><%= link_to 'Edit', edit_concrete_slab_path(concrete_slab) %></td>
        <td><%= link_to 'Destroy', concrete_slab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Concrete slab', new_concrete_slab_path %>
