<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @concrete_slab.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @concrete_slab.price %>
</p>

<%= link_to 'Edit', edit_concrete_slab_path(@concrete_slab) %> |
<%= link_to 'Back', concrete_slabs_path %>
