<h1>Listing generators</h1>

<table>
  <thead>
    <tr>
      <th>Productdescription</th>
      <th>Modelnumber</th>
      <th>Phvolt</th>
      <th>Dealer</th>
      <th>Msrp</th>
      <th>Map</th>
      <th>Voltage</th>
      <th>Mountedbreaker</th>
      <th>Alternator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @generators.each do |generator| %>
      <tr>
        <td><%= generator.productDescription %></td>
        <td><%= generator.modelNumber %></td>
        <td><%= generator.phVolt %></td>
        <td><%= generator.dealer %></td>
        <td><%= generator.msrp %></td>
        <td><%= generator.map %></td>
        <td><%= generator.voltage %></td>
        <td><%= generator.mountedBreaker %></td>
        <td><%= generator.alternator %></td>
        <td><%= link_to 'Show', generator %></td>
        <td><%= link_to 'Edit', edit_generator_path(generator) %></td>
        <td><%= link_to 'Destroy', generator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Generator', new_generator_path %>
