<p id="notice"><%= notice %></p>

<p>
  <strong>Productdescription:</strong>
  <%= @generator.productDescription %>
</p>

<p>
  <strong>Modelnumber:</strong>
  <%= @generator.modelNumber %>
</p>

<p>
  <strong>Phvolt:</strong>
  <%= @generator.phVolt %>
</p>

<p>
  <strong>Dealer:</strong>
  <%= @generator.dealer %>
</p>

<p>
  <strong>Msrp:</strong>
  <%= @generator.msrp %>
</p>

<p>
  <strong>Map:</strong>
  <%= @generator.map %>
</p>

<p>
  <strong>Voltage:</strong>
  <%= @generator.voltage %>
</p>

<p>
  <strong>Mountedbreaker:</strong>
  <%= @generator.mountedBreaker %>
</p>

<p>
  <strong>Alternator:</strong>
  <%= @generator.alternator %>
</p>

<%= link_to 'Edit', edit_generator_path(@generator) %> |
<%= link_to 'Back', generators_path %>
