<% year = params[:year] || Date.today.year %>
<% month = params[:month] || Date.today.month.to_i.to_s.rjust(2, "0") %>
<h1>
  <form action="<%= complete_jobs_by_month_path %>">
    <%# date_select("month", :add_month_numbers, discard_day: true)  %>
    Complete Jobs for 
    <select name="month" style="width:200px">
      <% (1..12).each do |i| %>
      <% frm_i = i.to_s.rjust(2, "0") %>
      <option value="<%= frm_i %>" <%= "selected" if month == frm_i %>>
        <%= Date::MONTHNAMES[i] %>
      </option>
      <% end %>
    </select>

    <select name="year" style="width:100px">
      <% (2.years.ago.year..Date.today.year).each do |i| %>
      <option value="<%= i %>" <%= "selected" if i == year %>><%= i %></option>
      <% end %>
    </select>
    <input type="submit" value="Go" />
  </form>
</h1>

<% Customer.all.order(:firstName).each do |customer| %>
<% completed_jobs = customer.bid_sheets.where("strftime('%m', date) = ? AND strftime('%Y', date) = ?", month, year).where(completeStatus: true) %>
<%# bp = customer.bid_sheets.where("MONTH(date) = ? AND YEAR(date) = ?", month, year).where(completeStatus: true) %>
<% next if completed_jobs.count == 0 %>
<h3><%= customer.set_cusfullname %></h3>
<table>
  <thead>
    <tr>
      <th>Job #</th>
      <th>Total Cost</th>
      <th>Date</th>
      <th>Labor Cost</th>
      <th>% Markup</th>
      <th>Generator Cost</th>
      <th>ATS Cost</th>
      <th>ACC Cost</th>
      <th>Misc. Cost</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% totalCost, totalLabor, totalGenerator, totalATS, totalACC, totalMisc = [0, 0, 0, 0, 0, 0] %>
    <% labor, valueATS, generator, valueACC, genAtsCost, matLaborCost, totalMarkup = [0, 0, 0, 0, 0, 0, 0] %>
    <% completed_jobs.each do |bid_sheet| %>
      <% labor = bid_sheet.laborCost %>
      <% valueATS = bid_sheet.transfer_switch.dealer %>
      <% generator = bid_sheet.generator.dealer %>
      <% valueACC = Accessory.find(bid_sheet.accessory1).dealer + Accessory.find(bid_sheet.accessory2).dealer +
              Accessory.find(bid_sheet.accessory3).dealer + Accessory.find(bid_sheet.accessory4).dealer +
              Accessory.find(bid_sheet.accessory5).dealer + Accessory.find(bid_sheet.accessory6).dealer + Accessory.find(bid_sheet.accessory7).dealer +
              Accessory.find(bid_sheet.accessory8).dealer + Accessory.find(bid_sheet.accessory9).dealer + Accessory.find(bid_sheet.accessory10).dealer
      %>
      <% genAtsCost = bid_sheet.generator.dealer + bid_sheet.transfer_switch.dealer %>
      <% matLaborCost =
         bid_sheet.concrete_slab.slabPrice + bid_sheet.gasLineInstallation +
              (bid_sheet.gasFootage * bid_sheet.gasLength) + bid_sheet.gasRegulator + bid_sheet.gasMeterUpgrade +
              bid_sheet.electricalSupply + bid_sheet.craneRigging + bid_sheet.deliveryShipping + bid_sheet.permits +
              bid_sheet.batteries + Accessory.find(bid_sheet.accessory1).dealer + Accessory.find(bid_sheet.accessory2).dealer +
              Accessory.find(bid_sheet.accessory3).dealer + Accessory.find(bid_sheet.accessory4).dealer +
              Accessory.find(bid_sheet.accessory5).dealer + Accessory.find(bid_sheet.accessory6).dealer + Accessory.find(bid_sheet.accessory7).dealer +
              Accessory.find(bid_sheet.accessory8).dealer + Accessory.find(bid_sheet.accessory9).dealer + Accessory.find(bid_sheet.accessory10).dealer +
              bid_sheet.miscItemPrice1 + bid_sheet.miscItemPrice2 + bid_sheet.miscItemPrice3
      %>
      <% totalCost += genAtsCost + matLaborCost %>
      <% totalLabor += labor %>
      <% totalATS += valueATS %>
      <% totalGenerator += generator %>
      <% totalACC += valueACC %>
      <% totalMisc += matLaborCost %>
      <% totalMarkup += bid_sheet.markup %>
      <tr>
        <td><%= bid_sheet.jobNumber %></td>
        <td><%= number_to_currency(genAtsCost + matLaborCost) %></td>
        <td><%= bid_sheet.date %></td>
        <td><%= number_to_currency(labor) %></td>
        <td><%= bid_sheet.markup %>%</td>
        <td><%= number_to_currency(generator) %></td>
        <td><%= number_to_currency(valueATS) %></td>
        <td><%= number_to_currency(valueACC) %></td>
        <td><%= number_to_currency(matLaborCost) %></td>
        <td>Y</td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td>Customer Sub</td>
      <td><%= number_to_currency(totalCost) %></td>
      <td></td>
      <td><%= number_to_currency(totalLabor) %></td>
      <td><%= totalMarkup / completed_jobs.count %>%</td>
      <td><%= number_to_currency(totalGenerator) %></td>
      <td><%= number_to_currency(totalATS) %></td>
      <td><%= number_to_currency(totalACC) %></td>
      <td><%= number_to_currency(totalMisc) %></td>
      <td></td>
    </tr>
  </tfoot>

</table>
<% end %>