<div class="center"><h3>Generators</h3></div>
    <table class="center">
      <thead>
      <tr>
        <th>Model #</th>
        <th>Item Cost</th>
        <th>Qty. Sold</th>
        <th>Ext. Cost</th>
        <th>Avg. % Markup</th>
      </tr>
      </thead>
      <tbody>
      <% genLineSum = 0 %>
      <% genLineCount = 0 %>
      <% genExtLineSum = 0 %>
      <% genMarkupSum = 0 %>
      <% genMarkupAverage = 0 %>
      <% @bid_sheets.distinct(:generator_id).each do |gen_table| %>
          <tr>
            <td><%= Generator.find(gen_table.generator_id).modelNumber %></td>
            <td><%= number_to_currency(Generator.find(gen_table.generator_id).dealer) %></td>
            <td><%= BidSheet.where(:generator_id => gen_table).count %></td>
            <td><%= number_to_currency(Generator.find(gen_table.generator_id).dealer * BidSheet.where(:generator_id => gen_table).count) %></td>
            <td> <%= gen_table.markup %>%</td>
          </tr>
          <% genLineSum += Generator.find(gen_table.generator_id).dealer %>
          <% genLineCount += Generator.where(:id => gen_table).count %>
          <% genExtLineSum += Generator.find(gen_table.generator_id).dealer * Generator.where(:id => gen_table).count %>
          <% genMarkupSum += gen_table.markup %>
      <% end %>
      </tbody>
      <tfoot>
      <tr>
        <% genAverageCost = genLineSum / genLineCount %>
        <% genMarkupAverage = genMarkupSum / genLineCount %>

        <td>Generator Sub</td>
        <td><%= number_to_currency(genAverageCost) %></td>
        <td><%= genLineCount %></td>
        <td><%= number_to_currency(genExtLineSum) %></td>
        <td><%= genMarkupAverage %>%</td>
      </tr>
      </tfoot>
    </table>

<div class="center"><h3>Transfer Switches</h3></div>
     <table class="center">
      <thead>
      <tr>
        <th>Model #</th>
        <th>Item Cost</th>
        <th>Qty. Sold</th>
        <th>Ext. Cost</th>
        <th>Avg. % Markup</th>
      </tr>
      </thead>
      <tbody>
      <% tsLineSum = 0 %>
      <% tsLineCount = 0 %>
      <% tsExtLineSum = 0 %>
      <% tsMarkupSum = 0 %>
      <% tsMarkupAverage = 0 %>
      <% @bid_sheets.distinct(:transferswitch_id).each do |ts_table| %>
          <tr>
            <td><%= TransferSwitch.find(ts_table.transferswitch_id).modelNumber %></td>
            <td><%= number_to_currency(TransferSwitch.find(ts_table.transferswitch_id).dealer) %></td>
            <td><%= BidSheet.where(:transferswitch_id => ts_table).count %></td>
            <td><%= number_to_currency(TransferSwitch.find(ts_table.transferswitch_id).dealer * BidSheet.where(:transferswitch_id => ts_table).count) %></td>
            <td> <%= ts_table.markup %>%</td>
          </tr>
          <% tsLineSum += TransferSwitch.find(ts_table.transferswitch_id).dealer %>
          <% tsLineCount += TransferSwitch.where(:id => ts_table).count %>
          <% tsExtLineSum += TransferSwitch.find(ts_table.transferswitch_id).dealer * TransferSwitch.where(:id => ts_table).count %>
          <% tsMarkupSum += ts_table.markup %>
      <% end %>
      </tbody>
      <tfoot>
      <tr>
        <% tsAverageCost = tsLineSum / tsLineCount %>
        <% tsMarkupAverage = tsMarkupSum / tsLineCount %>

        <td>T.S. Sub</td>
        <td><%= number_to_currency(tsAverageCost) %></td>
        <td><%= genLineCount %></td>
        <td><%= number_to_currency(tsExtLineSum) %></td>
        <td><%= tsMarkupAverage %>%</td>
      </tr>
      </tfoot>
    </table>
<div class="center"><h3>Accessories</h3></div>
    <table class="center">
      <thead>
      <tr>
        <th>Model #</th>
        <th>Item Cost</th>
        <th>Qty. Sold</th>
        <th>Ext. Cost</th>
      </tr>
      </thead>
      <tbody>
      <% accLineSum = 0 %>
      <% accLineCount = 0 %>
      <% accExtLineSum = 0 %>
      <% accCount = 0 %>
      <% Accessory.where.not(modelNumber: "N/A").each do |acc_table| %>
          <tr>
            <td><%= Accessory.find(acc_table).modelNumber %></td>
            <td><%= number_to_currency(Accessory.find(acc_table).dealer) %></td>
            <td><%= accCount = BidSheet.where(:accessory1 => acc_table).count + BidSheet.where(:accessory2 => acc_table).count +
                            BidSheet.where(:accessory3 => acc_table).count + BidSheet.where(:accessory4 => acc_table).count +
                            BidSheet.where(:accessory5 => acc_table).count + BidSheet.where(:accessory6 => acc_table).count +
                            BidSheet.where(:accessory7 => acc_table).count + BidSheet.where(:accessory8 => acc_table).count +
                            BidSheet.where(:accessory9 => acc_table).count + BidSheet.where(:accessory10 => acc_table).count %></td>
            <td><%= number_to_currency(Accessory.find(acc_table).dealer * accCount) %></td>
          </tr>
          <% accLineSum += Accessory.find(acc_table).dealer %>
          <% accLineCount += accCount %>
          <% accExtLineSum += Accessory.find(acc_table).dealer * accCount  %>
      <% end %>
      </tbody>
      <tfoot>
      <tr>
        <% accAverageCost = accLineSum / accLineCount %>

        <td>Accessories Sub</td>
        <td><%= number_to_currency(accAverageCost) %></td>
        <td><%= accLineCount %></td>
        <td><%= number_to_currency(accExtLineSum) %></td>
      </tr>
      </tfoot>
    </table>

<div class="center"> <h3>Totals</h3></div>
    <% totalLineAverage =  genAverageCost + tsAverageCost + accAverageCost / 3 %>
    <% totalLineCount = genLineCount + tsLineCount + accLineCount %>
    <% totalExtLineSum =  genExtLineSum + tsExtLineSum + accExtLineSum %>
    <% totalMarkupAverage = genMarkupAverage + tsMarkupAverage / 2 %>

<table class="center">
  <thead>
  <tr>
    <th>Average Cost / Item</th>
    <th># of Items Sold</th>
    <th>Extended Cost</th>
    <th>Avg. % Markup</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= number_to_currency(totalLineAverage) %></td>
    <td><%= totalLineCount %></td>
    <td><%= number_to_currency(totalExtLineSum) %></td>
    <td><%= totalMarkupAverage %>%</td>
  </tr>
  </tbody>
</table>
