<h3>Generators</h3>
<table>
  <thead>
  <tr>
    <th>Model</th>
    <th>Cost</th>
    <th>Quantity</th>
    <th>Ext. Cost</th>
    <th>Avg. Markup %</th>
  </tr>
  </thead>

  <tbody>
  <% BidSheet.distinct.each do |bid_sheets| %>
      <tr>
        <td><%= bid_sheets.generator.modelNumber %></td>
        <td><%= number_to_currency(bid_sheets.generator.dealer) %></td>
        <td><%= BidSheet. %></td>
        <td><%= number_to_currency(bid_sheets.generator.dealer * BidSheet.count(:group => bid_sheets)) %></td>
        <td><%= bid_sheets.markup %>%</td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td>Generator Sub</td>
    <td><%= number_to_currency(BidSheet. / BidSheet.count(:generator_id)) %></td>
    <td><%= BidSheet.distinct.count(:generator_id) %></td>
    <td><%= BidSheet.sum(:generator.dealer) %></td>
    <td><%= BidSheet.average(:markup) %></td>
  </tr>
  </tfoot>

</table>