// Place all the styles related to the AccessoryLines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.center {
  text-align :center
}

div.center {
  text-align :center
}