// Place all the styles related to the BidSheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.center {
   text-align :center
 }

div.center {
  text-align :center
}

form.custom .dropdown.date {
  width: 30%;
  margin-right: 10px;
  float: left;
}