<h1>Listing Accessory Lines</h1>

<table>
  <thead>
    <tr>
      <th>Bid Sheet</th>
      <th>Accessory</th>
      <th>Dealer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accessory_lines.each do |accessory_line| %>
      <tr>
        <td><%= accessory_line.bid_sheet.jobNumber %></td>
        <td><%= accessory_line.accessory.productDescription %></td>
        <td><%= number_to_currency(accessory_line.accessory.dealer) %> </td>
        <td><%= link_to 'Show', accessory_line %></td>
        <td><%= link_to 'Edit', edit_accessory_line_path(accessory_line) %></td>
        <td><%= link_to 'Destroy', accessory_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accessory line', new_accessory_line_path %>
