<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @customer.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @customer.lastName %>
</p>

<p>
  <strong>Streetaddress:</strong>
  <%= @customer.streetAddress %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state_id %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @customer.zipCode %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
