<h1>Listing misc_items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @misc_items.each do |misc_item| %>
      <tr>
        <td><%= misc_item.name %></td>
        <td><%= misc_item.price %></td>
        <td><%= link_to 'Show', misc_item %></td>
        <td><%= link_to 'Edit', edit_misc_item_path(misc_item) %></td>
        <td><%= link_to 'Destroy', misc_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Misc item', new_misc_item_path %>
