<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @misc_item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @misc_item.price %>
</p>

<%= link_to 'Edit', edit_misc_item_path(@misc_item) %> |
<%= link_to 'Back', misc_items_path %>
