<h1>Listing misc_item_lines</h1>

<table>
  <thead>
    <tr>
      <th>Bidsheet</th>
      <th>Accessory</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @misc_item_lines.each do |misc_item_line| %>
      <tr>
        <td><%= misc_item_line.bidSheet_id %></td>
        <td><%= misc_item_line.accessory_id %></td>
        <td><%= misc_item_line.quantity %></td>
        <td><%= link_to 'Show', misc_item_line %></td>
        <td><%= link_to 'Edit', edit_misc_item_line_path(misc_item_line) %></td>
        <td><%= link_to 'Destroy', misc_item_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Misc item line', new_misc_item_line_path %>
