<p id="notice"><%= notice %></p>

<p>
  <strong>Bidsheet:</strong>
  <%= @misc_item_line.bidSheet_id %>
</p>

<p>
  <strong>Accessory:</strong>
  <%= @misc_item_line.accessory_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @misc_item_line.quantity %>
</p>

<%= link_to 'Edit', edit_misc_item_line_path(@misc_item_line) %> |
<%= link_to 'Back', misc_item_lines_path %>
