<div class="row">
  <div class="small-8">
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right">Accessories</label>
      </div>
      <div class="small-9 columns">
        <div class="fields">
          <%= f.collection_select(:jobNumber, Accessory.all, :id, :desc_with_price) %>
          <%= f.collection_select(:jobNumber, Accessory.all, :id, :desc_with_price) %>
          <%= f.collection_select(:jobNumber, Accessory.all, :id, :desc_with_price) %>
          <%= f.collection_select(:jobNumber, Accessory.all, :id, :desc_with_price) %>
          <%= f.collection_select(:jobNumber, Accessory.all, :id, :desc_with_price) %>
          <%= f.collection_select(:jobNumber, Accessory.all, :id, :desc_with_price) %>
          <%= f.collection_select(:jobNumber, Accessory.all, :id, :desc_with_price) %>
          <%= f.collection_select(:jobNumber, Accessory.all, :id, :desc_with_price) %>
          <%= f.collection_select(:jobNumber, Accessory.all, :id, :desc_with_price) %>
          <%= f.collection_select(:jobNumber, Accessory.all, :id, :desc_with_price) %>
        </div>
      </div>
    </div>
  </div>
</div>