<%= form_for(@bid_sheet) do |f| %>
  <% if @bid_sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bid_sheet.errors.count, "error") %> prohibited this Bid Sheet from being saved:</h2>

      <ul>
      <% @bid_sheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Customer</label>
          </div>
          <div class="small-9 columns">
            <%= f.collection_select(:customer_id, Customer.all, :id, :set_cusfullname) %>
            Tax Exempt: <%= f.check_box :taxExempt %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Employee</label>
          </div>
          <div class="small-9 columns">
            <%= f.collection_select(:employee_id, Employee.all, :id, :set_empfullname) %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Job Number</label>
          </div>
          <div class="small-9 columns">
            <input type="text" <%= f.text_field :jobNumber %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Date </label>
          </div>
          <div class="small-9 columns">
            <%= f.date_field :date %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Generator</label>
          </div>
          <div class="small-9 columns">
            <%= f.collection_select(:generator_id, Generator.all, :id, :model_with_price) %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Transfer Switch</label>
          </div>
          <div class="small-9 columns">
            <%= f.collection_select(:transferswitch_id, TransferSwitch.all, :id, :model_with_price) %>
          </div>
        </div>
      </div>
    </div>
    </br>
    <div class="center">
      <h5>Accessories</h5>
    </div>

    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Accessory 1</label>
          </div>
          <div class="small-9 columns">
            <%= f.collection_select(:accessory1, Accessory.all, :id, :desc_with_price) %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Accessory 2</label>
          </div>
          <div class="small-9 columns">
            <%= f.collection_select(:accessory2, Accessory.all, :id, :desc_with_price) %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Accessory 3</label>
          </div>
          <div class="small-9 columns">
            <%= f.collection_select(:accessory3, Accessory.all, :id, :desc_with_price) %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Accessory 4</label>
          </div>
          <div class="small-9 columns">
            <%= f.collection_select(:accessory4, Accessory.all, :id, :desc_with_price) %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Accessory 5</label>
          </div>
          <div class="small-9 columns">
            <%= f.collection_select(:accessory5, Accessory.all, :id, :desc_with_price) %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Accessory 6</label>
          </div>
          <div class="small-9 columns">
            <%= f.collection_select(:accessory6, Accessory.all, :id, :desc_with_price) %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Accessory 7</label>
          </div>
          <div class="small-9 columns">
            <%= f.collection_select(:accessory7, Accessory.all, :id, :desc_with_price) %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Accessory 8</label>
          </div>
          <div class="small-9 columns">
            <%= f.collection_select(:accessory8, Accessory.all, :id, :desc_with_price) %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Accessory 9</label>
          </div>
          <div class="small-9 columns">
            <%= f.collection_select(:accessory9, Accessory.all, :id, :desc_with_price) %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Accessory 10</label>
          </div>
          <div class="small-9 columns">
            <%= f.collection_select(:accessory10, Accessory.all, :id, :desc_with_price) %>
          </div>
        </div>
      </div>
    </div>
	    </div>
		</br>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Labor Cost $</label>
          </div>
          <div class="small-9 columns">
            <input type="text" <%= f.text_field :laborCost %>
          </div>
        </div>
      </div>
    </div>
    </br>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Concrete Slab</label>
          </div>
          <div class="small-9 columns">
            <%= f.collection_select(:concreteslab_id, ConcreteSlab.all, :id, :name_with_price) %>
          </div>
        </div>
      </div>
    </div>
    </br>

    <div class="center">
      <h5>Miscellaneous Items</h5>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Gas Line Installation $</label>
          </div>
          <div class="small-9 columns">
            <input type="text" <%= f.text_field :gasLineInstallation %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Gas Line Cost/ft $</label>
          </div>
          <div class="small-9 columns">
            <input type="text" <%= f.text_field :gasFootage %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Gas Line Length (ft)</label>
          </div>
          <div class="small-9 columns">
            <input type="text" <%= f.number_field :gasLength %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Gas Regulator $</label>
          </div>
          <div class="small-9 columns">
            <input type="text" <%= f.text_field :gasRegulator %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Gas Meter Upgrade $</label>
          </div>
          <div class="small-9 columns">
            <input type="text" <%= f.text_field :gasMeterUpgrade %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Electrical Supply $</label>
          </div>
          <div class="small-9 columns">
            <input type="text" <%= f.text_field :electricalSupply %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Crane/Rigging $</label>
          </div>
          <div class="small-9 columns">
            <input type="text" <%= f.text_field :craneRigging %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Delivery & Shipping $</label>
          </div>
          <div class="small-9 columns">
            <input type="text" <%= f.text_field :deliveryShipping %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Permits $</label>
          </div>
          <div class="small-9 columns">
            <input type="text" <%= f.text_field :permits %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Batteries $</label>
          </div>
          <div class="small-9 columns">
            <input type="text" <%= f.text_field :batteries %>
          </div>
        </div>
      </div>
    </div>

</br>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Item 1 Name</label>
          </div>
          <div class="small-9 columns">
            <%= f.text_field( :miscItemName1) %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Item 1 Price $</label>
          </div>
          <div class="small-9 columns">
            <%= f.text_field( :miscItemPrice1) %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Item 2 Name</label>
          </div>
          <div class="small-9 columns">
            <%= f.text_field( :miscItemName2) %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Item 2 Price $</label>
          </div>
          <div class="small-9 columns">
            <%= f.text_field( :miscItemPrice2) %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Item 3 Name</label>
          </div>
          <div class="small-9 columns">
            <%= f.text_field( :miscItemName3) %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Item 3 Price $</label>
          </div>
          <div class="small-9 columns">
            <%= f.text_field( :miscItemPrice3) %>
          </div>
        </div>
      </div>
    </div>
</br>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Markup</label>
          </div>
          <div class="small-8 columns">
            <input type="text" <%= f.text_field :markup %>
          </div>
          <div class="small-1 columns">
            %
          </div>
        </div>
      </div>
    </div>

    <div class="row">
  <div class="small-8">
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right">Gen/ATS Tax</label>
      </div>
      <div class="small-8 columns">
        <input type="text" <%= f.text_field :genAtsTax %>
      </div>
      <div class="small-1 columns">
        %
      </div>
    </div>
  </div>
</div>

    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Labor Tax</label>
          </div>
          <div class="small-8 columns">
            <input type="text" <%=
              f.text_field :laborTax %>
          </div>
          <div class="small-1 columns">
            %
          </div>
        </div>
      </div>
    </div>

  <div class="center">
    <div class="row">
      <div class="small-12 columns">
        <label>Job Description
          <%= f.text_area :description %>
        </label>
      </div>
    </div>
  </div>

    <div class="center">
  <div class="field">
    <%= f.label :'Complete' %>
    <%= f.check_box :completeStatus %>
  </div>
    </div>

    <div class="center">

    </div>

    <div class="center">
      <%= f.submit %>
    </div>
<% end %>