<div class="row">
  <div class="small-8">
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right">Miscellaneous Items</label>
      </div>
      <div class="small-9 columns">
        <div class="fields">
          <div class="field">
            <%= f.label :"Item" %>
            <%= f.text_field :itemName %>
          </div>
          <div class="field">
            <%= f.label :"Price" %>
            <%= f.text_field :itemPrice %>
          </div>
          Gas Line Installation
          Gas Footage
          Gas Line Length (number)
          Gas Regulator
          Gas Meter Upgrade
          Electrical Supply
          Crane Rigging
          Delivery & Shipping
          Permits
          Batteries
          [Extra Items 1 Name]
          [Extra Items 1 Price]
          [Extra Items 2 Name]
          [Extra Items 2 Price]
          [Extra Items 3 Name]
          [Extra Items 3 Price]
        </div>
      </div>
    </div>
  </div>
</div>