<h1>Listing Bid Sheets</h1>
<table class="center">
  <tr>
    <td><h1>Complete Jobs for </h1></td>
    <td><select>
      <option value="1">January</option>
      <option value="2">February</option>
      <option value="3">March</option>
      <option value="4">April</option>
      <option value="5">May</option>
      <option value="6">June</option>
      <option value="7">July</option>
      <option value="8">August</option>
      <option value="9">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select></td>
    <td><select id="year" name="year">
      <script>
          var myDate = new Date();
          var year = myDate.getFullYear()+20;
          for(var i = 2014; i < year+1; i++){
              document.write('<option value="'+i+'">'+i+'</option>');
          }
      </script>
    </select></td>
    <td><button type="button" onclick="alert('Hello world!')">Go</button></td>
  </tr>
</table>

<hr>

<table>
  <thead>
  <tr>
    <th>Employee</th>
    <th>Customer</th>
    <th>Job #</th>
    <th>Date</th>
    <th>Labor Cost</th>
    <th>Generator</th>
    <th>Markup</th>
    <th>Tax Status</th>
    <th>Description</th>
    <th>Complete</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @bid_sheets.each do |bid_sheet| %>
      <tr>
        <td><%= bid_sheet.employee.set_empfullname %></td>
        <td><%= bid_sheet.customer.set_cusfullname %></td>
        <td><%= bid_sheet.jobNumber %></td>
        <td><%= bid_sheet.date %></td>
        <td><%= number_to_currency(bid_sheet.laborCost) %></td>
        <td><%= bid_sheet.generator.modelNumber %></td>
        <td><%= bid_sheet.markup %>%</td>
        <td><%= bid_sheet.taxExempt %></td>
        <td><%= bid_sheet.description %></td>
        <td><%= bid_sheet.completeStatus %></td>
        <td><%= link_to 'Show', bid_sheet %></td>
        <td><%= link_to 'Edit', edit_bid_sheet_path(bid_sheet) %></td>
        <td><%= link_to 'Destroy', bid_sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  <tr>
    <td><b>Totals</b></td>
    <td></td>
    <td></td>
    <td></td>
    <td><b><%= number_to_currency(BidSheet.sum(:laborCost)) %></b></td>
    <td></td>
    <td><%= BidSheet.average(:markup) %>%</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Bid sheet', new_bid_sheet_path %>