<h1>Listing Bid Sheets</h1>

<table class="center">
  <thead>
  <tr>
    <th>Employee</th>
    <th>Customer</th>
    <th>Job #</th>
    <th>Date</th>
    <th>Labor Cost</th>
    <th>Generator</th>
    <th>Markup</th>
    <th>Tax Status</th>
    <th>Description</th>
    <th>Complete</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @bid_sheets.each do |bid_sheet| %>
      <tr>
        <td><%= bid_sheet.employee.set_empfullname %></td>
        <td><%= bid_sheet.customer.set_cusfullname %></td>
        <td><%= bid_sheet.jobNumber %></td>
        <td><%= bid_sheet.date %></td>
        <td><%= number_to_currency(bid_sheet.laborCost) %></td>
        <td><%= bid_sheet.generator.modelNumber %></td>
        <td><%= bid_sheet.markup %>%</td>
        <td><%= bid_sheet.taxExempt %></td>
        <td><%= bid_sheet.description %></td>
        <td><%= bid_sheet.completeStatus %></td>
        <td><%= link_to 'Proposal/Invoice', bid_sheet %></td>
        <td><%= link_to 'Edit', edit_bid_sheet_path(bid_sheet) %></td>
        <td><%= link_to 'Destroy', bid_sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  <tr>
    <td><b>Totals</b></td>
    <td></td>
    <td></td>
    <td></td>
    <td><b><%= number_to_currency(BidSheet.sum(:laborCost)) %></b></td>
    <td></td>
    <td><%= BidSheet.average(:markup) %>%</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>

<div class="center">
  <%= link_to 'New Bid sheet', new_bid_sheet_path %>
</div>