<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset='UTF-8'>

  <title>Editable Invoice</title>

  <link rel='stylesheet' href='css/style.css'>
  <link rel='stylesheet' href='css/print.css' media="print">
  <script src='js/jquery-1.3.2.min.js'></script>
  <script src='js/example.js'></script>


</head>

<body>

<% genAtsCost = @bid_sheet.generator.dealer + @bid_sheet.transfer_switch.dealer  %>



<% matLaborCost = @bid_sheet.concrete_slab.slabPrice + @bid_sheet.gasLineInstallation +
        (@bid_sheet.gasFootage * @bid_sheet.gasLength) + @bid_sheet.gasRegulator + @bid_sheet.gasMeterUpgrade +
        @bid_sheet.electricalSupply + @bid_sheet.craneRigging + @bid_sheet.deliveryShipping + @bid_sheet.permits +
        @bid_sheet.batteries + Accessory.find(@bid_sheet.accessory1).dealer + Accessory.find(@bid_sheet.accessory2).dealer +
        Accessory.find(@bid_sheet.accessory3).dealer + Accessory.find(@bid_sheet.accessory4).dealer +
        Accessory.find(@bid_sheet.accessory5).dealer + Accessory.find(@bid_sheet.accessory6).dealer + Accessory.find(@bid_sheet.accessory7).dealer +
        Accessory.find(@bid_sheet.accessory8).dealer + Accessory.find(@bid_sheet.accessory9).dealer + Accessory.find(@bid_sheet.accessory10).dealer +
        @bid_sheet.miscItemPrice1 + @bid_sheet.miscItemPrice2 + @bid_sheet.miscItemPrice3 + @bid_sheet.laborCost%>


<% number_to_currency(genAtsCost + matLaborCost) %>

<% genatsTax = genAtsCost * (@bid_sheet.genAtsTax / 100) %>

<% laborTax =  ( @bid_sheet.laborCost * ( @bid_sheet.laborTax / 100 ) ) %>

<!--Price before Tax -->
<% preTaxPrice =  (genAtsCost + matLaborCost) * (1 + (@bid_sheet.markup / 100)) %>
<% number_to_currency(preTaxPrice) %>

<!--Total Tax -->
<% number_to_currency( genatsTax + laborTax ) %>

<!--Total Price -->
<% number_to_currency( preTaxPrice + ( genatsTax + laborTax ) ) %>


<div id="page-wrap">

  <textarea id="header">PROPOSAL</textarea>

  <table>
    <tr>
      <div id="identity">
        <td class="borderb">
          <p>
          <div id="logo">
            <%= image_tag("kiss.PNG", :alt => "logo") %>
          </div>
          </p>
        </td>

        <td class="borderb">
          <p>
            <strong>Bill To:</strong></br></br>

            <%= @bid_sheet.customer.set_cusfullname %> </br>
            <%= @bid_sheet.customer.set_cusaddress %> </br>
          </p>
        </td>

      </div>
    </tr>
  </table>

  <div style="clear:both"></div>

  <div id="customer">

    <table id="meta">
      <tr>
        <td class="meta-head">Job #</td>
        <td><%= @bid_sheet.jobNumber %></td>
      </tr>
      <tr>

        <td class="meta-head">Date</td>
        <td><textarea id="date"><%= @bid_sheet.date %></textarea></td>
      </tr>
      <tr>
        <td class="meta-head">Total</td>
        <td><div class="due"><%= number_to_currency( preTaxPrice + ( genatsTax + laborTax ) ) %></div></td>
      </tr>

    </table>

  </div>




  <div id="summary">
    <h5>Summary</h5>

    <section>
      <textarea style="height: 420px; !important;">Kiss Generator Kohler <%= @bid_sheet.generator.productDescription %> Proposal

        Thank you for asking KISS Generator Inc. to make a proposal for the standard power for your home/office located at <%= @bid_sheet.customer.set_cusaddress %>.

        The pricing includes the installation of Kohler <%= @bid_sheet.generator.productDescription %>,<%= @bid_sheet.transfer_switch.modelNumber %> transfer switch, and the following accessories:

        <%= Accessory.find(@bid_sheet.accessory1).productDescription %>
        <%= Accessory.find(@bid_sheet.accessory2).productDescription %>
        <%= Accessory.find(@bid_sheet.accessory3).productDescription %>
        <%= Accessory.find(@bid_sheet.accessory4).productDescription %>
        <%= Accessory.find(@bid_sheet.accessory5).productDescription %>
        <%= Accessory.find(@bid_sheet.accessory6).productDescription %>
        <%= Accessory.find(@bid_sheet.accessory7).productDescription %>
        <%= Accessory.find(@bid_sheet.accessory8).productDescription %>
        <%= Accessory.find(@bid_sheet.accessory9).productDescription %>
        <%= Accessory.find(@bid_sheet.accessory10).productDescription %>

        Your generator will be ordered after receiving your deposit with a x-x week delivery. A 50% deposit is required at time of ordering, an additional 40% with timely installation and balance due at commissioning. We also have a no return policy after the order has been placed. The process to acquire permits and engineering also begins when the order is confirmed. In addition we will contact Center Point on your behalf to have your gas service installed so when the permits are approved we can begin other preparations needed to complete your project. If you have any questions please contact me. "Thank You" for the opportunity to be a part of the bidding process...

        </textarea>

      <div id="terms">
        <textarea>Enter additional job description</textarea>
      </div>
    </section>

  </div>

  <table id="items">

    <tr>

      <td colspan="2" class="total-line">Subtotal</td>
      <td class="total-value"><div id="subtotal"><%= number_to_currency(preTaxPrice) %></div></td>
    </tr>

    <tr>

      <td colspan="2" class="total-line">Tax</td>
      <td class="total-value"><div id="subtotal"><%= number_to_currency( genatsTax + laborTax ) %></div></td>
    </tr>
    <tr>


      <td colspan="2" class="total-line">Total</td>
      <td class="total-value"><div id="total"><%= number_to_currency( preTaxPrice + ( genatsTax + laborTax ) ) %></div></td>
    </tr>
    <tr>

      <td colspan="2" class="total-line">Amount Paid</td>

      <td class="total-value"><textarea id="paid">$0.00</textarea></td>
    </tr>
    <tr>

      <td colspan="2" class="total-line">Balance Due</td>
      <td class="total-value"><textarea id="paid">$0.00</textarea></td>
    </tr>

  </table>

  <div id="terms">
    <h5>Terms</h5>
    <textarea>Any amendments requested by the City of Houston Building Inspection Office or any emergency concerns will be addressed and pricing may need to change accordingly.</textarea>
  </div>


  </br></br></br>
  <table>
    <tr>
      <td class="borderb">


        ____________________________________________
      </td>
      <td class="borderb">


        __________
      </td>
    </tr>
    <tr>
      <td class="borderb">
        <textarea style="height: 10px; !important;">Customer</textarea>
      </td>
      <td class="borderb">
        Date
      </td>
    </tr>
    <tr>
      <td class="borderb">


        ____________________________________________
      </td>
      <td class="borderb">


        __________
      </td>
    </tr>
    <tr>
      <td class="borderb">
        <textarea style="height: 10px; !important;">Burt Koenig</textarea>
      </td>
      <td class="borderb">
        Date
      </td>
    </tr>
  </table>
  </p>

</div>



</body>

</html>

<%= link_to 'Edit', edit_bid_sheet_path(@bid_sheet) %> |
<%= link_to 'Back', bid_sheets_path %>
