<div class="center">
  <p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @generator.productDescription %>
</p>

<p>
  <strong>Model #:</strong>
  <%= @generator.modelNumber %>
</p>

<p>
  <strong>PH Volt:</strong>
  <%= @generator.phVolt %>
</p>

<p>
  <strong>Dealer:</strong>
  <%= number_to_currency(@generator.dealer) %>
</p>

<p>
  <strong>MSRP:</strong>
  <%= number_to_currency(@generator.msrp) %>
</p>

<p>
  <strong>MAP:</strong>
  <%= number_to_currency(@generator.map) %>
</p>

<p>
  <strong>Voltage:</strong>
  <%= @generator.voltage %>
</p>

<p>
  <strong>Mounted Breaker:</strong>
  <%= @generator.mountedBreaker %>
</p>

<p>
  <strong>Alternator:</strong>
  <%= @generator.alternator %>
</p>

<p>
  <strong>Active:</strong>
  <%= @generator.activeStatus %>
</p>

<%= link_to 'Edit', edit_generator_path(@generator) %> |
<%= link_to 'Back', generators_path %>
</div>