<%= form_for(@accessory) do |f| %>
  <% if @accessory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accessory.errors.count, "error") %> prohibited this accessory from being saved:</h2>

      <ul>
      <% @accessory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Description</label>
          </div>
          <div class="small-9 columns">
            <input type="text" <%= f.text_field :productDescription %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Model #</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" <%= f.text_field :modelNumber %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Dealer $</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" <%= f.text_field :dealer %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">MSRP $</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" <%= f.text_field :msrp %>
          </div>
        </div>
      </div>
    </div>
    <div class="center">
      <%= f.label :"Active" %>
      <%= f.check_box :activeStatus %>
    </div>
  <div class="actions">
    <p class="center"> <%= f.submit %></p>
  </div>
<% end %>
