<h1>Listing Accessories</h1>

<table class="center">
  <thead>
    <tr>
      <th>Description</th>
      <th>Model Number</th>
      <th>Dealer $</th>
      <th>MSRP $</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accessories.each do |accessory| %>
      <tr>
        <td><%= accessory.productDescription %></td>
        <td><%= accessory.modelNumber %></td>
        <td><%= number_to_currency(accessory.dealer) %></td>
        <td><%= number_to_currency(accessory.msrp) %></td>
        <td><%= accessory.activeStatus %></td>
        <td><%= link_to 'Edit', edit_accessory_path(accessory) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p class="center"><%= link_to 'New Accessory', new_accessory_path %></p>
