<%= form_for(@transfer_switch) do |f| %>
  <% if @transfer_switch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transfer_switch.errors.count, "error") %> prohibited this Transfer Switch from being saved:</h2>

      <ul>
      <% @transfer_switch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Description</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" <%= f.text_field :productDescription %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Model #</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" <%= f.text_field :modelNumber %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Dealer $</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" <%= f.text_field :dealer %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">MSRP $</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" <%= f.text_field :msrp %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">MAP $</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" <%= f.text_field :map %>
          </div>
        </div>
      </div>
    </div>
<div class="center">
  <div class="field">
    <%= f.label :"Active" %>
    <%= f.check_box :activeStatus %>
  </div>
</div>
    <div class="center">
  <div class="actions">
    <%= f.submit %>
  </div>
    </div>
<% end %>
