<h1>Listing Transfer Switches</h1>

<table class="center">
  <thead>
    <tr>
      <th>Description</th>
      <th>Model #</th>
      <th>Dealer</th>
      <th>MSRP</th>
      <th>MAP</th>
      <th>Active</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transfer_switches.each do |transfer_switch| %>
      <tr>
        <td><%= transfer_switch.productDescription %></td>
        <td><%= transfer_switch.modelNumber %></td>
        <td><%= number_to_currency(transfer_switch.dealer) %></td>
        <td><%= number_to_currency(transfer_switch.msrp) %></td>
        <td><%= number_to_currency(transfer_switch.map) %></td>
        <td><%= transfer_switch.activeStatus %></td>
        <td><%= link_to 'Edit', edit_transfer_switch_path(transfer_switch) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="center">
<%= link_to 'New Transfer switch', new_transfer_switch_path %>
</div>