<div class="center">
<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @transfer_switch.productDescription %>
</p>

<p>
  <strong>Model #:</strong>
  <%= @transfer_switch.modelNumber %>
</p>

<p>
  <strong>Dealer:</strong>
  <%= number_to_currency(@transfer_switch.dealer) %>
</p>

<p>
  <strong>MSRP:</strong>
  <%= number_to_currency(@transfer_switch.msrp) %>
</p>

<p>
  <strong>MAP:</strong>
  <%= number_to_currency(@transfer_switch.map) %>
</p>

<p>
  <strong>Active:</strong>
  <%= @transfer_switch.activeStatus %>
</p>

<%= link_to 'Edit', edit_transfer_switch_path(@transfer_switch) %> |
<%= link_to 'Back', transfer_switches_path %>
</div>