<%= form_for(@misc_item_line) do |f| %>
  <% if @misc_item_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@misc_item_line.errors.count, "error") %> prohibited this misc_item_line from being saved:</h2>

      <ul>
      <% @misc_item_line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bidSheet_id %><br>
    <%= f.collection_select(:bidSheet_id, BidSheet.all, :id, :jobNumber) %>
  </div>
  <div class="field">
    <%= f.label :itemName %><br>
    <%= f.text_field :itemName %>
  </div>
  <div class="field">
    <%= f.label :itemPrice %><br>
    <%= f.text_field :itemPrice %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
