<h1>Listing accessories</h1>

<table>
  <thead>
    <tr>
      <th>Productdescription</th>
      <th>Modelnumber</th>
      <th>Dealer</th>
      <th>Msrp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accessories.each do |accessory| %>
      <tr>
        <td><%= accessory.productDescription %></td>
        <td><%= accessory.modelNumber %></td>
        <td><%= accessory.dealer %></td>
        <td><%= accessory.msrp %></td>
        <td><%= link_to 'Show', accessory %></td>
        <td><%= link_to 'Edit', edit_accessory_path(accessory) %></td>
        <td><%= link_to 'Destroy', accessory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accessory', new_accessory_path %>
