<p id="notice"><%= notice %></p>

<p>
  <strong>Productdescription:</strong>
  <%= @accessory.productDescription %>
</p>

<p>
  <strong>Modelnumber:</strong>
  <%= @accessory.modelNumber %>
</p>

<p>
  <strong>Dealer:</strong>
  <%= @accessory.dealer %>
</p>

<p>
  <strong>Msrp:</strong>
  <%= @accessory.msrp %>
</p>

<%= link_to 'Edit', edit_accessory_path(@accessory) %> |
<%= link_to 'Back', accessories_path %>
